---
interface Props {
  id: string;
  title: string;
}

const { id, title } = Astro.props;
---

<div
  class="my-8 overflow-hidden rounded-2xl border border-zinc-800 sm:rounded-3xl"
>
  <div class="aspect-video">
    <iframe
      class="h-full w-full"
      src={`https://www.youtube.com/embed/${id}`}
      title={title}
      loading="lazy"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>
</div>
